header{
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 4px 3px 4px gainsboro;

}

.welcome-section{
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    height: 70vh;
    gap: 5em;
    padding-left: 2em;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#div>img{
    margin-top: 2em;
    margin-left: 10em;
    width: 40vh;
}

#aside-img{
    width: 20vw;
}

#header-img{
    max-width: 7%;
}

#nav-bar{
    display: grid;
    display: flex;
    flex-direction: row;
    padding-left: 65%;
    grid-template-columns: repeat(3, 1fr );
    gap: 3.5em;
    margin-top: 2em;
    text-transform: uppercase;
    
}

#nav-bar:hover{
    text-decoration-color: red;
}

h1{
    font-size: 18px;
}

#aside1{
    padding-left: 2em;
}


#aside1 p{
    font-style: italic;
    font-size: 20px;
    
}


#aside2{
    padding-left: 20em;
}
input{
    color: blanchedalmond;
    text-transform: capitalize;
    border: 2px solid black;
    padding-top: 5px;
    background-color: black;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

input:hover{
    background-color: rgba(128, 128, 128, 0.849);
    text-decoration-color: black;
}
#work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6em;
    font-size: 20px;
    line-height: 1.24;

}

.img{
    transition-property: rotate,translate,scale ;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;

}

.img:hover{
    transform:scale(1.2);
}
#aside3{
    background-color: rgba(255, 192, 203, 0.13);
    height: 80vh;
    padding-bottom: 3em;
}
    

h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
    font-size: 20px;
    text-transform: capitalize;
}

#about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 30px;
    height: 30vh;
}

#aside4 >img{
    margin-left: 8em;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 70px;
}

#aside4{
    background-color: beige;
}

#aside5{
 
    padding-left: 2em;
    background-color: pink;
}

#aside5 >h4{
    font-size: 50px;
    
}

#aside5 >p{
    font-size: 20px;
    font-style: italic;
    line-height: 2;
}

#sec{
    text-align: center;
    padding-top: 20em;
    
}

#sec p{
    font-style: italic;
    font-size: 20px;
}

#i{
    font-size: 30px;
    margin: 0 auto;
}
#i:hover{
    background-color: grey;
}