body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuSdMPauwHNBm95A0a5bd015mFZUMbuvz4CQ&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
}

#aside1{
    background-image: url(https://www.infoplease.com/sites/infoplease.com/files/inline-images/mount_everest_650.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#aside2{
    background-color: white;
    padding-left: 2em;
}


#aside2 pre{
    font-style: italic;
    padding-left: 28em;
    padding-top: 1em;
}

#aside2 i{
    padding-top: 1em;
    padding-left: 29em;
}

#aside2 h1,p{
    line-height: 0.2;
}

#p{
    font-style: italic;
    line-height: 0.2;
}

#password{
    text-transform: uppercase;
    color: gray;
}

#p2{
    font-style: italic;
    color: rgba(128, 128, 128, 0.534); 
}


div>input{
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    line-height: 4em;
    color: black;
    outline: none;
    padding-right: 350px;

}

#c{
    text-decoration-line: underline;
}

#checkbox{
    padding-left: 10px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 70px;
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
    height: 50vh;

}

span input{
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;


}



